body {
	background: lightcyan;
	font-family: "Roboto", sans-serif;
	margin: 0, auto;
}
#babyProgression {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: calc(100% - 250px);
	min-height: 100px;
}
.maskLine {
	transition: d 310ms;
}
.maskLine:nth-of-type(2) {
	transition: d 300ms;
}
.controls {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0%, -50%);
	height: calc(100vh - 6em);
	max-height: 600px;
}
.slider {
	position: absolute;
	display: block;
	top: 50%;
	right: 15px;
	transform: translate(0%, -50%);
	width: 50px;
	height: calc(100vh - 6em);
	max-height: 600px;
}
#scaleSlider {
	position: absolute;
	width: calc(100vh - 6em);
	max-width: 600px;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.container {
	display: flex;
	flex-direction: column;
	width: 45px;
	justify-content: space-between;
	height: 100%;
}

.container > button {
	cursor: pointer;
	color: rgb(0, 8, 255);
	background: none;
	border: 1px solid rgb(0, 8, 255);
	flex: 1;
	margin-bottom: 0.70rem;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
}
.container > button:hover,
.container > button:focus,
.container > button:active {
	border: 1px solid red;
	color: red;
}
.container > button > span {
	font-weight: 100;
	font-size: 0.8em;
}
.daysSection {
	text-align: center;
	font-family: "Roboto", sans-serif;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
	color: purple;
}
.days {
	font-size: 1.5em;
	font-weight: 600;
}
.dateSection {
	text-align: center;
	font-family: "Roboto", sans-serif;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translate(-50%);
	color: red;
}
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	cursor: pointer;
	outline: none;
	overflow: hidden;
	border-radius: 25px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
	height: 25px;
	background: rgb(187, 185, 185);
	border-radius: 25px;
	border: 1px solid black;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
	height: 25px;
	background: none;
	border-radius: 25px;
	border: 1px solid black;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 50%;
	border: 1.5px solid black;
	box-shadow: -407px 0 0 400px red;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: 25px;
	width: 25px;
	background-color: #fff;
	border-radius: 50%;
	border: 1.5px solid black;
	box-shadow: -407px 0 0 400px red;
}
footer {
    text-align: center;
    padding: 1px;
    background-color: transparent;
    color: red;
	text-decoration: none;
}
@media (max-height:400px){
	.container{
		margin-top: 15%;
	}
}
@media (max-height:400px){
	footer{
		margin-top: 2%;
	}
}
footer a{
	text-decoration: none;
	color: red;
}
